// Color
$white: #fff;
$grey-dark: #3A3A3A;
$grey-light: #EAEAEA;
$grey-light2: #D8D8D8;


// Fonts
$font-family: 'Roboto', sans-serif;
$font-size: 20px;
$font-weight: 200;
$header-font-family: 'Montserrat', sans-serif;


// Margin
$margin-base: 20px;


// Animation
$default-transition-duration: 0.3s;
